<div class="row">
  <div class="large-4 columns">
    <a href="/collections/{{ settings.display_promoboxes_link_1 }}" class="promobox-a">
      {{ settings.display_promoboxes_text_01 }}<span>{{ settings.display_promoboxes_text_02 }}</span>{{ settings.display_promoboxes_text_03 }}
    </a>
  </div>
  <div class="large-4 columns">
    <a href="/collections/{{ settings.display_promoboxes_link_2 }}"  class="promobox-b">
      {{ settings.display_promoboxes_text_04 }}<span>{{ settings.display_promoboxes_text_05 }}</span>{{ settings.display_promoboxes_text_06 }}
    </a>
  </div>
  <div class="large-4 columns">
    <a href="/collections/{{ settings.display_promoboxes_link_3 }}"  class="promobox-a">
      {{ settings.display_promoboxes_text_07 }}<span>{{ settings.display_promoboxes_text_08 }}</span>{{ settings.display_promoboxes_text_09 }}
    </a>
  </div>
</div>